# Archivos y carpetas de Eclipse
.project
.classpath
.settings/
.springBeans

# Directorio de construcción para Maven
/target/

# Archivos de logs
*.log

# Archivos de configuración de Maven
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties


# Directorios de caché
.caches/

# Archivos de dependencias locales
local.properties

# Archivos de configuración del sistema operativo
.DS_Store
Thumbs.db


