<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Crear reservas</title>
	<!-- Bootstrap CSS -->
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
	<nav th:replace="./layout/plantilla :: navbar" />

	<div class="container container_crear_clientes mt-5">
		<h1 class="mb-4 text-dark">Crear Reserva</h1>

		<form th:action="@{/reservas/guardar}" th:object="${reserva}" method="post">
			<div class="form-group">
				<label class="text-dark" for="cliente">Cliente:</label>
				<select id="cliente" th:field="*{cliente.id}" class="form-control">
					<option th:each="cliente: ${clientes}" th:value="${cliente.id}" th:text="${cliente.nombre}">
					</option>
				</select>
			</div>
			<div class="form-group">
				<label class="text-dark" for="hotel">Hotel:</label>
				<select id="hotel" th:field="*{hotel.id}" class="form-control">
					<option th:each="hotel: ${hoteles}" th:value="${hotel.id}" th:text="${hotel.nombre}">
					</option>
				</select>
			</div>
			<div class="form-group">
				<label class="text-dark" for="fechaInicio">Fecha de inicio:</label>
				<input type="datetime-local" id="fechaInicio" th:field="*{fechaInicio}" class="form-control" required />
			</div>
			<div class="form-group">
				<label class="text-dark" for="fechaFin">Fecha final:</label>
				<input type="datetime-local" id="fechaFin" th:field="*{fechaFin}" class="form-control" required />
			</div>
			<div class="form-group">
				<input type="submit" class="btn btn-primary" value="Crear Reserva" />
			</div>
		</form>

		<a href="/reservas" class="btn btn-link mt-3">Volver a la lista de reservas</a>
	</div>

	<!-- Bootstrap JS and dependencies -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>