<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Ver hotel</title>
	<!-- Bootstrap CSS -->
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
	<nav th:replace="./layout/plantilla :: navbar" />

	<div class="container mt-5">
		<h1 class="mb-4">Ver Hotel</h1>
		<div class="card">
			<div class="card-body text-dark">
				<p class="card-text"><strong>Id:</strong> <span th:text="${hotel.id}"></span></p>
				<p class="card-text"><strong>Nombre:</strong> <span th:text="${hotel.nombre}"></span></p>
				<p class="card-text"><strong>Dirección:</strong> <span th:text="${hotel.direccion}"></span></p>
				<p class="card-text"><strong>Ciudad:</strong> <span th:text="${hotel.ciudad}"></span></p>
				<a href="/hoteles" class="btn btn-primary mt-3">Volver a la lista de hoteles</a>
			</div>
		</div>
	</div>


	<!-- Bootstrap JS and dependencies -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>