<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Login</title>
	<!-- Bootstrap CSS -->
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
	<div class="container container_crear_clientes mt-5">
		<h1 class="mb-4 text-dark">Página de Login</h1>

		<form th:action="@{/login}" method="post">
			<div class="form-group">
				<label for="username" class="text-dark">Nombre de usuario</label>
				<input type="text" class="form-control" id="username" name="username"
					placeholder="Ingrese su nombre de usuario" required />
			</div>
			<div class="form-group">
				<label for="password" class="text-dark">Password de usuario</label>
				<input type="password" class="form-control" id="password" name="password"
					placeholder="Ingrese su contraseña" required />
			</div>
			<div>
				<input type="submit" class="btn btn-primary" value="Login">
			</div>
		</form>
	</div>
	
	<!-- Bootstrap JS and dependencies -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>